@import url("https://fonts.cdnfonts.com/css/spooky-magic");
@import url("https://fonts.cdnfonts.com/css/droeming");
@import url("https://fonts.cdnfonts.com/css/magnolia-7");
@import url("https://fonts.cdnfonts.com/css/anak-sultan");
@import url("https://fonts.cdnfonts.com/css/plance");

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  /* remove margins and scroll bars */
  margin: 0;

  /* color text */
  color: #444;
}

#loading-screen {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.fade-out {
  animation: remove-animate 0.5s linear;
}

#potion {
  height: auto;
  width: 30vh;
}

#loading-bar {
  width: 40vh;
  height: auto;
}

#progress-bar {
  width: 100%;
  height: 200%;
  margin-top: 10%;
  accent-color: #881fff;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: -1;
}

#close {
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;
  border: none;
  background-color: #00000000;
  font-size: 3rem;
}

#close:hover {
  color: orangered;
}

#info-container {
  width: auto;
  height: auto;
}

#info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  animation: append-animate 0.5s linear;
  background: rgba(25, 25, 25, 0.7);
}

.info-mob {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
}

.potion-info > h2 {
  text-shadow: 0.2rem 0.2rem #eee;
  font-size: 4rem;
  font-weight: 200;
  font-family: "SpookyMagic", sans-serif;
}

.potion-info > p {
  font-size: 2.4rem;
  font-family: "Droeming", sans-serif;
}

.potion-img {
  width: auto;
  height: 50%;
}

#info-btn {
  bottom: 0;
  right: 0;
  margin: 1.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
  padding: 0 1rem 0 1rem;
  border-radius: 0.8rem;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-family: "Magnolia", sans-serif;
  font-size: 3rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#info-btn:hover {
  text-shadow: 0 0 9px white;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

#try {
  height: auto;
  width: 100vw;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: sans-serif;
  margin-bottom: 0.3rem;
}

#about-me {
  bottom: 0;
  left: 0;
  margin: 1.5rem;
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-family: "Anak Sultan", sans-serif;
  font-size: 2.1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

#about-me:hover {
  text-shadow: 0 0 9px white;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

#site-info {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  background-color: #ffffff11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 1rem;
  backdrop-filter: blur(17.9px);
  -webkit-backdrop-filter: blur(17.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: append-animate 0.2s linear;
}

#site-info > h3 {
  font-size: 4rem;
  color: paleturquoise;
  text-shadow: 0.2rem 0.2rem #00bb99;
  font-family: "Anak Sultan", sans-serif;
}

#site-info > h5 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: "Plance", sans-serif;
  color: #ffbbbb;
  text-shadow: 0.1rem 0.1rem #ff1c42;
}

#site-info > button {
  position: fixed;
  right: -6%;
  top: -15%;
  color: white;
  border: none;
  background-color: #00000000;
  font-size: 3rem;
}

#site-info > button:hover {
  color: orangered;
}

#site-info > p > a {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-shadow: 0.15rem 0.15rem white;
}

#site-info > p > a:hover {
  text-shadow: 0.15rem 0.15rem cyan;
}

@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remove-animate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
